.body{
        background-color: #007bff;}
        h1 {
            text-align: center;
            color: blueviolet;
          }
          img {
            width: 20%;
            height: 50%;
          }
 p{
  color: crimson;
  width: 20px;

}        